<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
		
<servlet>
	<servlet-name>AddExpense</servlet-name>
	<servlet-class>expense_tracker.AddExpense</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>AddExpense</servlet-name>
	<url-pattern>/add</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>ViewExpenses</servlet-name>
	<servlet-class>expense_tracker.ViewExpenses</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>ViewExpenses</servlet-name>
	<url-pattern>/view</url-pattern>
</servlet-mapping>

</web-app>

